<div class="container">
    <h1 class="title-form">Product List</h1>
</div>
<div class="product-top-container">
    <div class="row search-container">
        <mat-card>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="input-search" style="width: 500px" appearence="fill">
                            <input type="text" name="searchQuery" placeholder="Enter Employee ID" matInput >
                        </mat-form-field> 
                    </div>
                </div>
        </mat-card>
      <!-- <mat-form-field class="input-search" style="width: 550px" appearence="fill">
        <input type="text" name="searchQuery" placeholder="Enter Employee ID" matInput >
      </mat-form-field>  -->
    </div>
</div>

 