<div class="container">
    <h1 class="title-form">Product List</h1>
</div>
<div>
    <div class="product-top-container">
        <div class="search-container">
            <mat-form-field class="input-search" style="width: 550px">
                <mat-label>Search by product Name</mat-label>
                <input matInput type="text" name="searchQuery" [(ngModel)]="searchQuery" />
              </mat-form-field>
              <button mat-raised-button class="btn-search" style="background-color:rgb(24, 132, 226);"  (click)="onClickSearch()">
                <mat-label>Search</mat-label>
            </button>
    </div>
    <div class="input-search">
        <button mat-raised-button class="btn-search">
            <img src="assets/filter_icon.png" style="width: 60px; height: 60px;">
            <mat-label>Order by</mat-label>
         </button>
         <mat-form-field>
            <select matNativeControl required (change)="onSelectionChange($event)">
              <option value="1">ID (from lowest)</option>
              <option value="2">ID (from highest)</option>
              <option value="3">Price (from lowest)</option>
              <option value="4">Price (from highest)</option>
              <option value="5">Rating (from lowest)</option>
              <option value="6">Rating (from highest)</option>
              <option value="7">Name (asending)</option>
              <option value="8">Name (descending)</option>
            </select>
          </mat-form-field>
      </div> 

      <img src="assets/add_icon.png" style="width: 60px; height: 60px;" (click)="openDialog()">
</div>

    <div class="product-table-container">
        <div class="product-table">
            <table mat-table [dataSource]="products" class="table table-bordered">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>
                <label>ID</label>
              </th>
              <td mat-cell *matCellDef="let product">{{ product.id }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let product">{{ product.name }}</td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>description</th>
              <td mat-cell *matCellDef="let product">{{ product.description }}</td>
            </ng-container>
            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef>Rating</th>
              <td mat-cell *matCellDef="let product">{{ product.rating }}</td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let product">{{ product.price }}</td>
            </ng-container>
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let product">
                <img [src]="product.image" alt="product image" style="width: 50px; height: 50px;">
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let product">
                <img src="assets/edit.png" style="width: 20px; height: 20px;" (click)="openDialog(product)">
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>

    <!-- <mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" 
    showFirstLastButtons aria-label="Select page">
    </mat-paginator> -->
</div>